.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 700px) {
  .grid-adjustable-columns {
    display: grid;
    grid-auto-flow: row;
  }
}

@media (min-width: 701px) {
  .grid-adjustable-columns {
    width: min(1000px, 75rem);
    margin: 0 auto;
    grid-auto-flow: column;
    gap: 1em;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  size: 64px;
  font-family: 'Markazi Text';
  text-emphasis: medium;
  color: black;
}

h2 {
  size: 40px;
  font-family: 'Markazi Text';
  text-emphasis: medium;
  color: black;
}

h3 {
  size: 20px;
  font-family: Karla;
  text-emphasis: extra bold;
  color: black;
}

h4 {
  size: 18px;
  font-family: Karla;
  text-emphasis: bold;
  color: black;
}

h5 {
  size: 18;
  font-family: Karla;
  text-emphasis: medium;
  color: black;
}

h6 {
  size: 16px;
  font-family: Karla;
  text-emphasis: extra bold;
  color: black;
}

p {
  size: 16px;
  font-family: Karla;
  text-emphasis: regular;
  color: black;
}

img {
  border-radius: 16px;
}

button {
  border-radius: 16px;
  background-color: #F4CE14;
  color: black;
  font: Karla;
  font-weight: bold;
  font-size: 18px;
  width: 200px;
  height: 60px;
}

#restaurant-name {
  color: #F4CE14;
  font-family: Markazi Text;
  font-weight: bold;
  font-size: 64px;
}

#subtitle {
  font-family: Markazi Text;
  font-weight: regular;
  font-size: 40px;
  color: white;
}

#description {
  font-family: Karla;
  font-weight: medium;
  font-size: 18px;
  color: white;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  gap: 10px;
  background-color: white;
}

.nav-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  text-decoration: none;
  color: black;
  font: Karla;
  size: 18px;
  font-weight: bold;
}

.nav-links:img {
  width: 202;
  height: 76;
}

.nav-links li {
  display: flex;
  justify-content: center;
  margin: 10px;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

.nav-links li a {
  text-decoration: none;
  color: black;
}

#Hero {
  background-color: #6E6F6E;
  display: grid;
  height: 451px;
  padding: 5% 15% 0% 5%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  gap: 5%;
}

#specials {
  padding: 5% 5%;
  display: grid;
  gap: 5%;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 10% 90%;
  grid-template-areas:  "specials-title  specials-title view-menu"
                        "special special special";
}

#specials > h2 {
  grid-area: specials-title;
}

#specials > button {
  grid-area: view-menu;
}

#specials .special {
  grid-area: special;
}

#specials > .specialsCard {
  display: grid;
  gap: 5%;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 40% 20% 30% 10%;
  grid-template-areas:  "special-photo special-photo special-photo"
                        "special-name special-price ."
                        "special-description special-description ."
                        "order order delivery-icon";
}

.specialsCard > #special-photo {
  grid-area: special-photo;
}

.specialsCard > h2 {
  grid-area: special-name;
}

.specialsCard > h3 {
  grid-area: special-price;
}

.specialsCard > p {
  grid-area: special-description;
}

.specialsCard > h4 {
  grid-area: order;
}

.specialsCard #delivery-icon {
  grid-area: delivery-icon;
}

#about {
  display: grid;
  padding: 5% 5% 0% 5%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:  "aboutInformation ownerImage1"
                        "aboutInformation ownerImage2"
                        "aboutInformation .";
  gap: 5%;
}

#aboutInformation {
  grid-area: aboutInformation;
}

#aboutTitle {
  grid-area: aboutTitle;
}

#aboutLocation {
  grid-area: aboutLocation;
}

#aboutDescription {
  grid-area: aboutDescription;
}

#ownerImage1 {
  grid-area: ownerImage1;
}

#ownerImage2 {
  grid-area: ownerImage2;
}

#testimonials {
  background-color: #6E6F6E;
  padding: 5% 5%;
  display: grid;
  gap: 5%;
  margin-top: 5%;
  grid-template-columns: repeat(3, 20%);
  grid-template-areas:  "testimonialTitle testimonialTitle testimonialTitle"
                        "testimonial testimonial testimonial";
}

#testimonials > h2 {
  grid-area: testimonialTitle;
}

#testimonial {
  outline: solid black;
  display: grid;
  grid-template-columns: 33% 33%;
  grid-template-areas:  "stars ."
                        "userPhoto name"
                        "review review";
}

#testimonial > #stars {
  grid-area: stars;
}

#testimonial > #userPhoto {
  grid-area: userPhoto;
}

#testimonial > #name {
  grid-area: name;
}

#testimonial > #review {
  grid-area: review;
}

footer {
  display: flex;
  background-color: #6E6F6E;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  padding: 5%;
}

footer li {
  text-decoration-style: none;
  list-style-type: none;
}

#footer-nav-links {
  display:flex;
  flex-direction: column;
}

#footer-nav-links li {
  text-decoration-style: none;
  list-style-type: none;
  color: black;
  font: Karla;
  text-emphasis: medium;
  justify-content: center;
}
